nav {
    background: transparent;
    height: 100px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: "Open Sans", sans-serif;
  }
  
  li {
    margin: 30px 25px;
  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #373737;
  }
  
  a:hover {
    background-color: rgba(94, 244, 0, 0.4);
    border-radius: 20px;
  }

  
  
  input[type="text"] {
    padding: 6px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
  }
  
  button[type="submit"] {
    padding: 6px 12px;
    background-color: #00b909;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .mysearch{
    border: none;
    outline: none;
    background: rgba(255, 255, 255,0.8);
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-right: 2% ;
    width: 450px;

  }

  body {
  background-image: url("bgimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.my-text-box{
    border: none;
    outline: none;
    width: 600px;
    border-radius: 50px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mybutton{
    background-color: rgba(11, 11, 255, 0.8);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.mybutton:hover{
    background-color: rgba(0, 0, 88);
}

.mytext{
    border: none;
    outline: none;
    width: 60px;
    border-radius: 50px;
    height: 40px;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}